h1 {
  text-align: center;
  color: navy;
  margin-top: 30px;
}


/* Making the image responsive */
img {
  width: 100%;
  height: auto;
}


.image-div {
  margin: 0 auto;
  width: 90vw;
  height: 500px;
  border: 2px solid navy;
  background-image: url("https://www.tripsavvy.com/thmb/ln-rgtbLb72dcvBq5Ue1Udtec2s=/2120x1414/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-542084791-5a5c7d56e258f800373c1acf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

